.wy-side-nav-search {
    background-color:#FFFFFF;
}

.wy-side-nav-search>a {
    color:#0090CD;
}

.wy-menu-vertical p.caption {
    color:#0090CD;
}

.wy-side-nav-search input[type=text] {
    border-color:#012235;
}

.wy-side-nav-search .wy-dropdown>a img.logo,
.wy-side-nav-search>a img.logo {

    max-width:50%;
}

.rst-content .toctree-wrapper>p.caption,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family:Lato;
}

h1 {
    color:#0090CD
}