.wy-side-nav-search {
    background-color:#FFFFFF;
}

.wy-side-nav-search>a {
    color:#0090CD;
}

.wy-menu-vertical p.caption {
    color:#0090CD;
}

.wy-side-nav-search input[type=text] {
    border-color:#012235;
}

.wy-side-nav-search .wy-dropdown>a img.logo,
.wy-side-nav-search>a img.logo {

    max-width:50%;
}